header {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;

  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2em;
    opacity: 0.9;
    margin-bottom: 30px;
  }
}

nav a {
  color: #fff;
  margin: 10px 10px;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
}
