.form {
  max-width: 1100px;
  display: grid;
  margin: 50px auto;
  gap: 20px;
  background-color: white;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.form h2 {
  color: #34a5db;
  margin-bottom: 15px;
  font-size: 1.8em;
  padding-left: 10px;
  text-align: center;
}

.form input {
  width: 100%;
  max-width: 1000px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form select {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form button {
  width: 100px;
  height: 50px;
  background: #34a5db;
  margin: auto;
  display: block;
  border: none;
  border-radius: 4px;
  color: #2c3e50;
  cursor: pointer;
  font-size: 20px;
}
